# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build & Dependencies
node_modules
dist
dist-ssr
*.local

# Editor Configs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiler files
cache/
out/
.gas-snapshot
gasreport-fork.ansi
gasreport-local.ansi

# Dotenv files
.env*
!.env*.example

# Miscellaneous
.DS_Store